{% extends "admin_template.html" %}
{% block content %}
<center>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title"> Details des informations de la structure </h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                     </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Code Structure</th>
                        <td>{{ read_structure['code_structure']}}</td>
                    </tr>
                    <tr>
                        <th>Libellé</th>
                        <td>{{ read_structure['libelle_structure']}}</td>
                    </tr>
                    <tr>
                        <th>Délégation</th>
                        <td>{{ read_structure['delegation_structure']}}</td>
                    </tr>
                    <tr>
                        <th>Délégué</th>
                        <td>{{ read_structure['delegue_structure'] }}</td>
                    </tr>
                    <tr>
                        <th>Responsable</th>
                        <td>{{ read_structure['responsable_structure'] }}</td>
                    </tr>
                    <tr>
                        <th>Visa Responsable</th>
                        <td>{{ read_structure['visa_responsable_structure'] }}</td>
                    </tr>
                    <tr>
                        <th>Visa Responsable</th>
                        <td>{{ read_structure['created_at'] }}</td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </section>
</center>

<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste Structure</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
             </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="/list_structure/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                <button type="button" class="btn btn-success">Aller à liste des structures</button>
            </a>
        </div>
    </div>

{% endblock %}