{% extends "admin_template.html" %}
{% block content %}

<section class="forms">
    <div class="container-fluid" style="padding-top: 50px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <span>
                        <!-- <h4>All form elements</h4> -->
                        <h4>Création d'agent</h4>
                    </span>
                    <!-- <a
                                    href="/missions/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                                    <span style="padding-left: 750px;"><i class="fa fa-plus-circle fa-2x btn btn-primary"
                                            aria-hidden="true" title="Ajouter une nouvelle mission"></i></span>
                                </a> -->
                </div>
                <div class="card-body">
                    <form
                        action="/agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}"
                        method="POST" autocomplete="on" name="form">

                        <div class="offset-sm-2 col-sm-8" id="first-part">

                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                                <span class="input-group-addon"><i class="fa  fa-code-fork" aria-hidden="true"></i></span>-->
                                <input name="prenom_agent" required="required" class="form-control" type="text"
                                    placeholder="Prenoms">
                            </div>
                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></span>-->
                                <input name="nom_agent" required="required" class="form-control" type="text"
                                    placeholder="Nom">
                            </div>
                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>-->
                                <input name="matricule_agent" required="required" class="form-control" type="text"
                                    placeholder="Matricule">
                            </div>

                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>-->
                                <input name="indice_agent" required="required" class="form-control" type="text"
                                    placeholder="Indice Agent">
                            </div>
                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>-->
                                <input name="telephone_agent" required="required" class="form-control" type="text"
                                    placeholder="Téléphone Agent">
                            </div>
                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                                <!--                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>-->
                                <input name="ifu_agent" required="required" class="form-control" type="text"
                                    placeholder="IFU">
                            </div>
                            <span>&nbsp;</span>
                            <div class="input-group margin-bottom-sm">
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button id="first-reset" type="submit" class="btn btn-secondary">Annuler</button>
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <button id="btn-next" type="submit" class="btn btn-primary">Suivant</button>
                                </div>
                            </div>

                        </div>
                        <div class="offset-sm-2 col-sm-8" id="second-part">

                            <div class="form-group row">
                                <div class="input-group select2-bootstrap-prepend col-sm-12">
                                    <!--                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>-->
                                    <select name="corps_agent" class="form-control selectpicker" data-width="100%" single
                                        data-live-search="true">

                                        <option value="" disabled selected>Selectionner le corps de l'agent</option>
                                        {% for corps in corps_list %}
                                        <option name="corps_agent" value="{{ corps['libelle_corps'] }}">{{
                                                corps['libelle_corps'] }}
                                        </option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="input-group select2-bootstrap-prepend col-sm-12">
                                    <!--                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>-->
                                    <select name="structure_agent" class="form-control selectpicker" data-width="100%" single
                                        data-live-search="true">

                                        <option value="" disabled selected>Selectionner la structure de l'agent</option>

                                        {% for structure in list_structures %}
                                        <option name="structure_agent" value="{{ structure['code_structure'] }}">{{
                                            structure['code_structure'] }}
                                        </option>

                                        {% endfor %}
                                    </select>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="input-group margin-bottom-sm">

                                    <div class="input-group select2-bootstrap-prepend col-sm-12">
                                        <!--                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>-->
                                        <select name="grade_agent" class="form-control selectpicker" data-width="100%" single
                                            data-live-search="true">

                                            <option value="" disabled selected>Selectionner le grade de l'agent</option>

                                            {% for grade in list_grades %}
                                            <option name="grade_agent" value="{{ grade['libelle_grade'] }}">
                                                {{ grade['libelle_grade'] }}
                                            </option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 mb-3">
                                    <select name="qualite_agent" class="form-control selectpicker" single
                                        data-live-search="true">

                                        <option value="" disabled selected>Selectionner la qualité de l'agent</option>
                                        {% for qualite in list_qualities %}
                                        <option name="qualite_agent" value="{{ qualite['libelle_qualite'] }}">{{
                                            qualite['libelle_qualite'] }}
                                        </option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="input-group margin-bottom-sm col-sm-12">
                                    <!--                <span class="input-group-addon"><i class="fa  fa-code-fork" aria-hidden="true"></i></span>-->
                                    <input name="date_et_lieu_de_naissance_agent" required="required"
                                        class="form-control" type="text"
                                        placeholder="Date et lieu de naissance de l'agent">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 offset-sm-1">
                                    <button id="btn-back" type="submit" class="btn btn-secondary">Précedent</button>
                                </div>
                                <div class="col-sm-3 offset-sm-1">
                                    <button id="second-reset" type="submit" class="btn btn-secondary">Annuler</button>
                                </div>
                                <div class="col-sm-3 offset-sm-1">
                                    <button id="" type="submit" class="btn btn-primary">{{'Valider'}}</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.7/select2-bootstrap.min.css"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        var heightFirst = $('#first-part').css("height");
        var heightSecond = $('#second-part').css("height");
        $('#first-part').css({
            "overflow": "hidden",
            "height": heightFirst,
            "transiton": 'all 1s',
            "-webkit-transition": 'all 1s ease',
            "-moz-transition": 'all 1s ease',
            "-o-transition": 'all 1s ease'

        });
        $('#second-part').css({
            "overflow": "hidden",
            "height": "0px",
            "transiton": 'all 1s ease',
            "-webkit-transition": 'all 1s ease',
            "-moz-transition": 'all 1s ease',
            "-o-transition": 'all 1s ease'
        });

        $("#btn-next").click(function () {
            $('#first-part').css({
                'height': '0px',
                "visibility": 'hidden'
            });
            $('#second-part').css({
                'height': heightFirst,
                'visibility': 'visible'
            });
        });

        $("#btn-back").click(function () {
            $('#first-part').css({
                'height': heightFirst,
                'visibility': 'visible'
            });
            $('#second-part').css({
                'height': '0px',
                "visibility": 'hidden'
            });
        });

        // @see github.com/select2/select2-bootstrap-theme/issues/62

        $.fn.select2.defaults.set("theme", "bootstrap");

        $(".select2-single").select2({
            placeholder: 'Select a State…',
            width: null
        });

    }, false);

















</script>

<script type="text/javascript">
    document.getElementById("agents").className = "active";

</script>

{% endblock %}