{% extends "admin_template.html" %}
{% block content %}

<center><h1>Modification de structures</h1></center>

<span>&nbsp;</span>

<center>
    <form action="/agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}" method="POST" autocomplete="on" name="form">
        {% for structure in read_structure %}

        <div class="col-sm-offset-3 col-sm-6" id="first-part">

            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="libelle_structure" required="required" class="form-control" type="text"
                       placeholder="Libellé" value={{structure["libelle_structure"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="delegation_structure" required="required" class="form-control" type="text"
                       placeholder="Délégations" value={{structure["delegation_structure"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="delegue_structure" required="required" class="form-control" type="text"
                       placeholder="Délégué" value={{structure["delegue_structure"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="row">
                <a href="#">
                    <button style="margin-left:15px; margin-right:50px"  type="button" id="first-reset" class="btn btn-primary btn-sm pull-left">
                         <span class="visible-sm visible-md visible-lg">  Annuler</span>
                    </button>
                </a>

                <span class="btn btn-primary btn-sm  " id="btn-next">
                     <span class="visible-sm visible-md visible-lg">Suivant  ></span>
                </span>
            </div>
        </div>
        <span>&nbsp;</span>
        <div class="col-sm-offset-3 col-sm-6" id="second-part">
            <div class="input-group margin-bottom-sm">
                 <input name="responsable_structure" required="required" class="form-control" type="text"
                       placeholder="Responsable" value={{structure["responsable_structure"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="input-group">
                 <input name="visa_responsable_structure" required="required" class="form-control" type="text"
                       placeholder="Visa Responsable" value={{structure["visa_responsable_structure"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="action_structure" required="required" class="form-control" type="text" placeholder="Action"
                       value={{structure["action_structure"]}}>
            </div>
            <span>&nbsp;</span>

            <div class="row">

                <div class="col-xs-4 col-sm-offset-3 col-sm-3">
                    <span class="btn btn-primary btn-sm pull-left" id="btn-back">
                         <span class="visible-sm visible-md visible-lg"> Précedent</span>
                    </span>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <a href="#">
                        <button type="button" id="second-reset" class="btn btn-primary btn-sm ">
                             <span class="visible-sm visible-md visible-lg">  Annuler</span>
                        </button>
                    </a>
                    </span>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-sm pull-right">
                         <span class="visible-sm visible-md visible-lg"> {{'Valider'}}</span>
                    </button>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </form>
</center>
<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste Structure</h1>

    </div>
    <div class="box-body">
        <div align="right">
            <a href="/list_agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                <button type="button" class="btn btn-success">Aller à liste des structures</button>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">

      document.addEventListener("DOMContentLoaded", function () {
                        var heightFirst = $('#first-part').css("height");
                        var heightSecond = $('#second-part').css("height");
                        $('#first-part').css({
                            "overflow": "hidden",
                            "height": heightFirst,
                            "transiton": 'all 1s',
                            "-webkit-transition": 'all 1s ease',
                            "-moz-transition": 'all 1s ease',
                            "-o-transition": 'all 1s ease'

                        });
                        $('#second-part').css({
                            "overflow": "hidden",
                            "height": "0px",
                            "transiton": 'all 1s ease',
                            "-webkit-transition": 'all 1s ease',
                            "-moz-transition": 'all 1s ease',
                            "-o-transition": 'all 1s ease'
                        });

                        $("#btn-next").click(function () {
                            $('#first-part').css({
                                'height': '0px',
                                "visibility": 'hidden'
                            });
                            $('#second-part').css({
                                'height': heightSecond,
                                'visibility': 'visible'
                            });
                        });

                        $("#btn-back").click(function () {
                            $('#first-part').css({
                                'height': heightFirst,
                                'visibility': 'visible'
                            });
                            $('#second-part').css({
                                'height': '0px',
                                "visibility": 'hidden'
                            });
                        });

                    }, false);



</script>

{% endblock %}