{% extends "homes.html" %}
{% block content %}
 <center>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title"> Details sur l' agent  </h1>
                <div class="box-tools pull-right">

                </div>
            </div>
            {% for agent in list_agent %}
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <tbody>
            <tr>
                <th>Matricule agent</th>
                <td>{{ agent['matricule_agent']}}</td>
            </tr>
            <tr>
                <th>IFU</th>
                <td>{{ agent['ifu_agent']}}</td>
            </tr>
            <tr>
                <th>Prénoms</th>
                <td>{{ agent['prenom_agent']}}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agent['nom_agent'] }}</td>
            </tr>
            <tr>
                <th>Structure</th>
                <td>{{ agent['structure_agent'] }}</td>
            </tr>
            <tr>
                <th>Corps</th>
                <td>{{ agent['corps_agent'] }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ agent['grade_agent'] }}</td>
            <tr>
            <tr>
                <th>Qualité</th>
                <td>{{ agent['qualite_agent'] }}</td>
            <tr>
                <th>Date de Création</th>
                <td>{{ agent['created_at'] }}</td>
            {% endfor %}
        </tbody>
    </table>


        </div>
        </div>
    </section>
 </center>
{% endblock %}