{% extends "admin_template.html" %}
{% block content %}

<center><h1>Modification de budgets</h1></center>

<span>&nbsp;</span>

<center>
    <form action="/update_type_budget/{{read_type_budget['_id']}}/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}" method="POST" autocomplete="on" name="form">

            <div class="col-sm-offset-3 col-sm-6" id="first-part">

            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="libelle_type_budget" required="required" class="form-control" type="text" placeholder="Libelle" value={{read_type_budget["libelle_type_budget"]}}>
            </div>
            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="libelle_unique_type_budget" required="required" class="form-control" type="text" placeholder="Libelle unique type budget" value={{read_type_budget["libelle_unique_type_budget"]}}>
            </div>
                <span>&nbsp;</span>
                <div class="input-group margin-bottom-sm">
                    <input name="description_type_budget" required="required" class="form-control" type="text"
                           placeholder="Description type budget " value={{read_type_budget["description_type_budget"]}}>
                </div>

                <span>&nbsp;</span>
            <div class="row">
                <a href="#">
                    <button style="margin-left:15px; margin-right:50px"  type="button" id="first-reset" class="btn btn-primary btn-sm pull-left">
                         <span class="visible-sm visible-md visible-lg">  Annuler</span>
                    </button>
                </a>

                 <div class="col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-sm pull-right">
                         <span class="visible-sm visible-md visible-lg">  {{'Valider'}}</span>
                    </button>
                </div>
                
            </div>

        </div>
        </div>
    </form>
</center>
<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste Type Budget</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
             </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="/list_type_budget/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                <button type="button" class="btn btn-success">Aller à liste des budgets</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}