{% extends "homes.html" %}
{% block content %}
<center>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title"> Details des informations de la qualite </h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <tbody>

                    <tr>
                        <th>Libellé</th>
                        <td>{{ read_qualite['libelle_qualite']}}</td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ read_qualite['description_qualite']}}</td>
                    </tr>

                    <tr>
                        <th>Date de Création</th>
                        <td>{{ read_qualite['created_at'] }}</td>
                    </tbody>
                </table>


            </div>
        </div>
    </section>

</center>

<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste des qualités</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="/list_qualite/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                <button type="button" class="btn btn-success">Aller à liste des qualités</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}