{% extends "admin_template.html" %}
{% block content %}

<center><h1>Modification de villes</h1></center>

<span>&nbsp;</span>

<center>
    <form action="/save_update_ville/{{read_ville['_id']}}/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}" method="POST" autocomplete="on" name="form">

        <div class="col-sm-offset-3 col-sm-6" id="first-part">

            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                 <input name="non_ville" required="required" class="form-control" type="text"
                       placeholder="Non de la ville" value={{read_ville["non_ville"]}}>
            </div>

            <span></span>
            <span></span>
            <div class="row">

            <span></span>
            <span></span>

                <div class="col-xs-4 col-sm-3">
                    <a href="#">
                        <button style="margin-left:15px; margin-right:50px"  type="button" id="second-reset" class="btn btn-primary btn-sm ">
                             <span class="visible-sm visible-md visible-lg">  Annuler</span>
                        </button>
                    </a>
                    </span>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-sm pull-right">
                         <span class="visible-sm visible-md visible-lg">  {{'Valider'}}</span>
                    </button>
                </div>
            </div>
        </div>
        </div>

    </form>
</center>
<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste ville</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="/list_ville/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                <button type="button" class="btn btn-success">Aller à liste des villes</button>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">

      document.addEventListener("DOMContentLoaded", function () {
                        var heightFirst = $('#first-part').css("height");
                        var heightSecond = $('#second-part').css("height");
                        $('#first-part').css({
                            "overflow": "hidden",
                            "height": heightFirst,
                            "transiton": 'all 1s',
                            "-webkit-transition": 'all 1s ease',
                            "-moz-transition": 'all 1s ease',
                            "-o-transition": 'all 1s ease'

                        });
                        $('#second-part').css({
                            "overflow": "hidden",
                            "height": "0px",
                            "transiton": 'all 1s ease',
                            "-webkit-transition": 'all 1s ease',
                            "-moz-transition": 'all 1s ease',
                            "-o-transition": 'all 1s ease'
                        });

                        $("#btn-next").click(function () {
                            $('#first-part').css({
                                'height': '0px',
                                "visibility": 'hidden'
                            });
                            $('#second-part').css({
                                'height': heightSecond,
                                'visibility': 'visible'
                            });
                        });

                        $("#btn-back").click(function () {
                            $('#first-part').css({
                                'height': heightFirst,
                                'visibility': 'visible'
                            });
                            $('#second-part').css({
                                'height': '0px',
                                "visibility": 'hidden'
                            });
                        });

                    }, false);



</script>

{% endblock %}