{% extends "homes.html" %}
{% block content %}

<center><h1>Creation de ville</h1></center>

<span>&nbsp;</span>

<center>
    <form action="/villes" method="POST" autocomplete="on" name="form">

        <div class="col-sm-offset-3 col-sm-6" id="first-part">

            <div class="input-group margin-bottom-sm">
                <div class="input-group select2-bootstrap-prepend">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <select name="libelle_fr_pays" class="selectpicker" data-width="100%" single data-live-search="true">
                        <option value="" disabled selected>Selectionner la qualité de l'agent</option>
                        {% for pays in list_pays %}
                        <option name="libelle_fr_pays" value="{{ pays['libelle_fr_pays'] }} ">
                            {{ pays['libelle_fr_pays'] }}
                        </option>

                        {% endfor %}
                    </select>
                </div>
            </div>
            <span>&nbsp;</span>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></span>
                <input name="non_ville" required="required" class="form-control" type="text"
                       placeholder="Designation ville ">
            </div>

            <span>&nbsp;</span>
            <div>
                <a href="#">
                    <button type="button" id="first-reset" class="btn btn-primary btn-sm pull-left">
                        <span class="visible-xs"><i class="fa fa-refresh fa-2x"></i></span>
                        <span class="visible-sm visible-md visible-lg"><i class="fa fa-refresh"></i> Annuler</span>
                    </button>
                </a>

                <div class="col-xs-4 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-sm pull-right">
                        <span class="visible-xs"><i class="fa fa-save fa-2x"></i></span>
                        <span class="visible-sm visible-md visible-lg"><i class="fa fa-save"></i> {{'Valider'}}</span>
                    </button>
                </div>
            </div>

        </div>
        </div>
    </form>
</center>
<span>&nbsp;</span>

<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title"> Ville</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="list_pays">
                <button type="button" class="btn btn-success">Aller à liste des pays</button>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>

{% endblock %}