{% extends "homes.html" %}
{% block content %}
<center><h1>Liste des Pays </h1></center>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                 </button>
            </div>
        </div>
        <div class="box-body">
            <table id="lststructure" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Code Numerque</th>
                    <th>Code ISO Alpha 1</th>
                    <th>Code ISO Alpha 2</th>
                    <th>Libellé Fr</th>
                    <th>Libellé En</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for pays in list_pays %}
                <tr>

                    <td class="table-active">{{ pays['code_numerique_pays'] }}</td>
                    <td class="table-primary">{{ pays['code_alphat1_pays'] }}</td>
                    <td class="table-secondary">{{ pays['code_alphat2_pays'] }}</td>
                    <td class="table-success">{{ pays['libelle_fr_pays'] }}</td>
                    <td class="table-danger">{{ pays['libelle_en_pays'] }}</td>
                    <td>
                        <div class="input-group btn">
                            <button type="button" class="btn btn-success  dropdown-toggle pull-right"
                                    data-toggle="dropdown">
                                Actions
                            </button>
                            <ul class="dropdown-menu">

                                <li><a href="/pays/{{ pays['_id'] }}/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                                    <button class="btn btn-info btn-block">Afficher</button>
                                </a></li>
                                <li><a href="/update_pays/{{ pays['_id'] }}/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                                    <button class="btn btn-warning btn-block">Modifier</button>
                                </a></li>
                                <li><a href="/delete_pays/{{ pays['_id'] }}/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                                    <button class="btn btn-danger btn-block">Supprimer</button>
                                </a></li>
                                <li class="divider"></li>

                            </ul>
                        </div>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h1 class="box-title">Nouvelle Structure</h1>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                 </button>
            </div>
        </div>
        <div class="box-body">
            <div align="right">
                <a href="/pays/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                    <button type="button" class="btn btn-success">Ajouter un Nouveau Pays</button>
                </a>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">

      document.addEventListener("DOMContentLoaded",  function(e) {
            alert("txt")
            var txt = $(e.target).text();
            console.log(txt);
            alert(txt)
         } false);



</script>


{% endblock %}