{% extends "admin_template.html" %}
{% block content %}

<section class="forms">
    <div class="container-fluid" style="padding-top: 50px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <span>
                        <!-- <h4>All form elements</h4> -->
                        <h4>Création d'objet de mission</h4>
                    </span>
                    <!-- <a
                                href="/missions/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">
                                <span style="padding-left: 750px;"><i class="fa fa-plus-circle fa-2x btn btn-primary"
                                        aria-hidden="true" title="Ajouter une nouvelle mission"></i></span>
                            </a> -->
                </div>
                <div class="card-body">
                    <form
                        action="/object/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}"
                        method="POST" autocomplete="on" name="form">

                        <div class="col-sm-8 offset-sm-2" id="first-part">

                            <div class="form-group">

                                <div class="input-group date">
                                    <input name="date_debut_mission" id="date_added" placeholder="Date Debut Mission"
                                        type="date" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group date">
                                    <input name="date_fin_mission" id="date_modified" placeholder="Date Fin Mission"
                                        type="date" class="form-control">
                                </div>
                            </div>


                            <div class="input-group margin-bottom-sm">
                                <input name="reference_lettre_de_mission" required="required" class="form-control"
                                    type="text" placeholder="Reference de la lettre de mission ">
                            </div>
                            <span>&nbsp;</span>

                            <div class="md-form">
                                <textarea name="objet_mission" id="form10" class="md-textarea form-control" rows="5"
                                    placeholder="Objet"></textarea>
                            </div>
                            <span>&nbsp;</span>

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button id="first-reset" type="submit" class="btn btn-secondary">Annuler</button>
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <button id="firsr-btn-next" type="submit"
                                        class="btn btn-primary">{{'Valider'}}</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.4.2/dist/multiple-select.min.js"></script> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" /> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script> -->


<script type="text/javascript">



    var fromTimeInput = $('#date_added');
    var toTimeInput = $('#date_modified');
    var fromTime = fromTimeInput.val();
    var toTime = toTimeInput.val();

    fromTimeInput.datepicker({
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        endDate: toTime
    });
    toTimeInput.datepicker({
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        startDate: fromTime
    });
    fromTimeInput.on("changeDate", function (e) {
        toTimeInput.datepicker('setStartDate', e.date);
    });
    toTimeInput.on("changeDate", function (e) {
        fromTimeInput.datepicker('setEndDate', e.date);
    });


    var fromTimeInput = $('#date_added_1');
    var toTimeInput = $('#date_modified_1');
    var fromTime = fromTimeInput.val();
    var toTime = toTimeInput.val();

    fromTimeInput.datepicker({
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        endDate: toTime
    });
    toTimeInput.datepicker({
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        startDate: fromTime
    });
    fromTimeInput.on("changeDate", function (e) {
        toTimeInput.datepicker('setStartDate', e.date);
    });
    toTimeInput.on("changeDate", function (e) {
        fromTimeInput.datepicker('setEndDate', e.date);
    });



</script>

<script type="text/javascript">
    document.getElementById("objects").className = "active";

</script>

{% endblock %}

</html>