{% extends "homes.html" %}
{% block content %}
 <center>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title"> Details des informations du type agent  </h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <tbody>

            <tr>
                <th>Libellé</th>
                <td>{{ read_type_agent['libelle_type_agent']}}</td>
            </tr>

            <tr>
                <th>Libellé Unique</th>
                <td>{{ read_type_agent['libelle_unique_type_agent'] }}</td>
            <tr>
            <tr>
                <th>Description</th>
                <td>{{ read_type_agent['description_type_agent'] }}</td>
            <tr>
                <th>Date de Création</th>
                <td>{{ read_type_agent['created_at'] }}</td>
        </tbody>
    </table>


        </div>
        </div>
    </section>
 </center>

<div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title">Liste des types d'agents</h1>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div align="right">
            <a href="list_type_agent">
                <button type="button" class="btn btn-success">Aller à liste des types d'agents </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}