{% extends "admin_template.html" %}
{% block content %}

<section class="statistics" style="padding-top: 50px;">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="number"></div><strong class="text-primary"><a
                            href="/list_agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Agents</a></strong>
                    <p>Consulter les agents intervenantss dans le processus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-screen"></i></div>
                    <div class="number"></div><strong class="text-primary"><a
                            href="/list_structure/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Structure</a></strong>
                    <p>Créer de nouvelles structures où travaillent les agents.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-line-chart"></i></div>
                    <div class="number"></div><strong class="text-primary"><a
                            href="/list_type_budget/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Ligne
                            Budgétaire</a></strong>
                    <p>Définisser de nouvelles lignes budgétaires.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics" style="padding-top: 50px;">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4"></h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12"><strong class=" d-flex align-items-center justify-content-center"><i class="fa fa-lastfm fa-2x" aria-hidden="true"></i></strong></div>
                        <div class="col-sm-12"><strong
                                class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_type_agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Type</a></strong>
                            <small class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_type_agent/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">d'agents</a></small>
                            <span></span>
                        </div>
                    </div>
                    <p class="d-flex align-items-center justify-content-center">Créer de nouveaux types d'agents.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4"></h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12"><strong class=" d-flex align-items-center justify-content-center"><i class="fa fa-yelp fa-2x" aria-hidden="true"></i></strong></div>
                        <div class="col-sm-12"><strong
                                class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_qualite/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Qualité</a></strong>
                            <small class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_qualite/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">d'agents</a></small>
                            <span></span>
                        </div>
                    </div>
                    <p class="d-flex align-items-center justify-content-center">Créer les qualités de l'agents.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4"></h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12"><strong class=" d-flex align-items-center justify-content-center"><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i></strong></div>
                        <div class="col-sm-12"><strong
                                class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_corps/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Corps
                                    Professionnel</a></strong>
                            <small class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_corps/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">d'agents</a></small>
                            <span></span>
                        </div>
                    </div>
                    <p class="d-flex align-items-center justify-content-center">Créer de nouveaux corps d'agents.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4"></h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12"><strong class=" d-flex align-items-center justify-content-center"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></strong></div>
                        <div class="col-sm-12"><strong class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_grade/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Grade</a></strong>
                            <small class="text-primary d-flex align-items-center justify-content-center"><a
                                    href="/list_grade/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">d'agents</a></small>
                            <span></span>
                        </div>
                    </div>
                    <p class="d-flex align-items-center justify-content-center">Créer de nouveaux grades d'agents.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <div class="number"></div><strong class="text-primary"><a
                            href="/list_pays/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Pays</a></strong>
                    <p>Créer des pays utilisables dans le système</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                    <div class="number"></div><strong class="text-primary"><a
                            href="/list_ville/{{ current_user.get_username() }}/{{ current_user.get_email() }}/{{ current_user.get_roles() }}">Villes</a></strong>
                    <p>Créer des villes utiles pour le système</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.getElementById("parametres").className = "active";

</script>

{% endblock %}