{% extends "admin_template.html" %}
{% block content %}
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <!-- Recent Updates Widget          -->
                <div id="new-updates" class="card updates recent-updated">
                    <div id="updates-header" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display"><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box"
                                                  aria-expanded="true" aria-controls="updates-box">Agents</a></h2><a
                            data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true"
                            aria-controls="updates-box"><i class="fa fa-angle-down"></i></a>
                    </div>
                    <div id="updates-box" role="tabpanel" class="collapse show">
                        <ul class="news list-unstyled">
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title"><strong>Type</strong>
                                    </div>
                                </div>

                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title"><strong>Qualité.</strong>
                                    </div>
                                </div>

                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title"><strong>Corps.</strong>
                                    </div>
                                </div>

                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title"><strong>Grade.</strong>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
                <!-- Recent Updates Widget End-->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Daily Feed Widget-->
                <div id="daily-feeds" class="card updates daily-feeds">
                    <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display"><a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box"
                                                  aria-expanded="true" aria-controls="feeds-box">Ligne Budgetaire </a>
                        </h2>

                    </div>
                </div>
                <!-- Daily Feed Widget End-->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Recent Activities Widget      -->
                <div id="structure" class="card updates activities">
                    <div id="structures" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display"><a data-toggle="collapse" data-parent="#recent-activities-wrapper"
                                                  href="#activities-box" aria-expanded="true"
                                                  aria-controls="activities-box">Structure</a></h2><a
                            data-toggle="collapse" data-parent="#recent-activities-wrapper" href="#activities-box"
                            aria-expanded="true" aria-controls="activities-box"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
